.nav {
	padding: 1rem 8rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8;
	background: black;
	z-index: 12;

	@media only screen and (max-width: $tab-land) {
		padding: 1rem 4rem;
	}

	&__img {
		height: 6rem;
		// min-width: 17rem;

		img {
			@include img-size;
		}
	}

	&-link {
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
		font-style: normal;
		text-decoration: none;
		line-height: 2.4rem;
		letter-spacing: 0px;
		transition: all 0.3s;
		padding: 0.1rem 1.4rem !important;
		border-top: 2px solid transparent;
		color: $color-white !important;
	}
	&-link:hover,
	.active {
		color: $color-secondary;
		border-top: 2px solid $color-secondary;
	}
}

.dropdown-menu {
	background-color: $color-black;

	li {
		&:not(:last-child) {
			border-bottom: 1px solid $color-white;
		}
	}
}

.dropdown-item {
	background-color: $color-black;
	color: $color-white;
	padding: 1rem;

	&:hover {
		background-color: $color-black;
		color: $color-secondary;
	}
}

.navbar-collapse {
	@media only screen and (max-width: $tab-land) {
		padding-top: 2rem;
	}

	.navbar-nav {
		gap: 1rem;

		.nav-link {
			display: inline-block;
			padding: 0.4rem 2rem !important;
		}
	}
}

.navbar-toggler {
	background-color: $color-white;
}
