.about-section {
	.about {
		&__img {
			img {
				@include img-size;
			}
		}

		&__content {
			text-align: right;

			@media only screen and (max-width: $tab-land) {
				text-align: center;
			}

			h2 {
				color: $color-black;
				text-shadow: 2px 2px 12px rgb(0 0 0 /0%);
			}
		}
	}
}
