.about-section {
	background-color: $color-white;
	margin-top: 6rem;

	.about {
		&__img {
			@media only screen and (max-width: $tab-land) {
				height: 55rem;
				// height: 100%;
			}
			img {
				@include img-size;
				object-fit: cover;
				object-position: top center;
			}
		}

		&__content {
			text-align: right;

			@media only screen and (max-width: $tab-land) {
				text-align: center;
			}

			h2 {
				color: $color-black;
				text-shadow: 2px 2px 12px rgb(0 0 0 /0%);
			}
		}
	}

	.seen {
		background-color: #ededed;
		padding: 3rem 0 6rem 0;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%, 0% 50%);
		margin-bottom: -15rem;
		position: relative;
		z-index: 2;

		h3 {
			text-align: center;
			color: $color-black;
		}

		&__list {
		}

		&__item {
			max-width: 65rem;
			height: 13rem;
			width: 13rem;
			img {
				@include img-size;
				opacity: 0.37;
				filter: brightness(100%) contrast(149%) saturate(0%) blur(0px) hue-rotate(0deg);
			}
		}
	}
}

// "Barlow",Sans-serif
