.footer {
	// padding: 10rem 0;

	&__top {
		border-bottom: 1px dotted #9b9b9b;
	}

	&__logo {
		width: 15rem;
		height: auto;

		img {
			@include img-size;
		}
	}

	&__link {
		border-top: 2px solid transparent;
		padding: 1rem 0;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0px;
		transition: all 0.3s;

		&:hover {
			border-top: 2px solid $color-secondary;
			color: $color-secondary;
		}
	}

	&__copyright {
		padding-top: 4rem;
	}

	.social {
		&__link {
			height: 4.6rem;
			width: 4.6rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $color-secondary;
			border-radius: 50%;

			i {
				font-size: 2.4rem;
				color: $color-white;
			}
			.bi {
				height: auto;
				width: auto;
			}
		}
	}

	.text {
		color: #bfc0c0;
		font-size: 1.5rem;
		font-weight: 300;
		letter-spacing: 0px;
	}
}
