.header {
	position: relative;
	padding-top: 6rem;
	min-height: 100vh;
	clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%, 0% 50%);
	margin-bottom: -14rem;

	&__content {
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		overflow: hidden;

		.wrapper {
			position: relative;
			z-index: 10;
		}
	}

	&__video {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		z-index: 4;
	}
	.myVideo {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;

		@media only screen and (max-width: $laptop-land) {
			width: 110%;
		}
		@media only screen and (max-width: $tab-land) {
			width: 145%;
		}
		@media only screen and (max-width: $tab-port) {
			width: 200%;
		}
		@media only screen and (max-width: $mbl-land) {
			width: 285%;
		}
		@media only screen and (max-width: $mbl-port) {
			width: 310%;
		}
	}

	&__btns {
		.btn {
			padding: 2rem 4rem;
			border: none;
			font-size: 3rem;
			font-family: $font-tirtiary;
			font-weight: bold;
			color: $color-white;
			letter-spacing: -1px;
			transition: all 0.3s;
			line-height: 1;

			&:hover {
				color: $color-white;
				transform: scale(1.1);
			}
		}
	}

	&__btn--1 {
		background-color: $color-primary;

		&:hover {
			background-color: $color-primary;
		}
	}
	&__btn--2 {
		background-color: $color-secondary;

		&:hover {
			background-color: $color-secondary;
		}
	}
	&__btn--3 {
		background-color: $color-tirtiary;

		&:hover {
			background-color: $color-tirtiary;
		}
	}

	&__mission {
		// height: 22rem;
		padding: 8rem 0;
		background-color: $color-black;
		text-align: center;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%, 0% 50%);

		h3 {
		}
	}
}
