.vlog-section {
	background-color: $color-white;
	padding: 15rem 0 !important;
	clip-path: polygon(0 0, 50% 6%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0% 50%);
	// margin-bottom: -5rem;

	.vlog {
		&__img {
			height: 100%;
			width: 100%;
			max-width: 80rem;
			margin-left: -5rem;

			@media only screen and (max-width: $tab-land) {
				margin-left: 0;
				max-width: 100% !important;
				height: 38rem;
			}

			img {
				@include img-size;
			}
		}

		&__content {
			h3 {
				color: $color-black;
				margin-top: 2rem;
			}

			.btn {
				background-color: transparent;
				border: 2px solid $color-black;
				color: $color-black;
			}
		}
	}

	.video-slider {
		height: 25rem;
		max-width: 90rem;
		width: 100%;
		margin: 0 auto;
		position: relative;

		.btn-video {
			@include img-size;
			position: relative;

			i {
				position: absolute;
				@include pos-center;
				font-size: 7rem;
				color: $color-white;
			}
			.bi {
				height: auto;
				width: auto;
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		.swiper-button-prev:after,
		.swiper-button-next:after {
			display: none;
		}

		.swiper-button-prev,
		.swiper-rtl .swiper-button-next {
			left: -32px;
			right: auto;

			@media only screen and (max-width: $mbl-land) {
				left: 10px;
			}
		}
		.swiper-button-next,
		.swiper-rtl .swiper-button-prev {
			right: -32px;
			left: auto;

			@media only screen and (max-width: $mbl-land) {
				right: 10px;
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			i {
				color: #333;

				@media only screen and (max-width: $mbl-land) {
					color: #fff;
				}
			}
		}

		.swiper-pagination-bullet-active {
			background: $color-black;
		}

		.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
			transform: translateY(2rem);
		}

		// video popup

		// .popup {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	height: 100%;
		// 	width: 100%;
		// }
	}

	.swiper {
		width: 100%;
		// padding-top: 50px;
		// padding-bottom: 50px;
		height: 22rem;
		// overflow: visible;
	}

	.swiper-wrapper {
		// height: 22rem;
	}
	.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
		// transform: translateY(5rem) !important;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
	}
}
